.felsefe {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: -170px;

  flex: 20%;
}
@media screen and (max-width: 700px) {
  .felsefe {
    flex-direction: column;
  }
}
