.me {
  display: flex;
}

.me-income-expenses {
  width: 20%;
  margin: 10px;
  border: 1px solid black;
}

.me-myhabits {
  width: 20%;
  border: 1px solid black;
  margin: 10px;
}
.me-missions {
  width: 45%;
  border: 1px solid black;
  margin: 10px;
}
.me-myskills {
  width: 10%;
  border: 1px solid black;
  margin: 10px;
}
