.all-missions {
  display: flex;

  margin: 10px;
}
.missions {
  width: 350px;
  padding: 10px;
  font-weight: 700;
}
.myhabits {
  margin-right: 3.3%;
  margin-left: 5%;
}
.my-missions {
  margin-left: 10%;
}
/*button*/
button {
  width: 300px;
  color: black;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: #cacaca;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}

.missions-navbar {
  display: flex;
}
.new-mission-button {
  margin-right: 330px;
}
.missions-navbar p {
  margin-top: 20px;
  margin-right: 200px;
}
.my-habits {
  margin-left: 250px;
}
