.mission-box {
  width: 300px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 10px;
  color: black !important;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/**/
.icon-box {
  width: 50px;
  margin-top: 30px;
  height: 80px;
  display: inline-block;
}
.mission-description {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 190px;
  justify-content: center;
}
.point {
  bottom: 0px;
  position: absolute;
  font-size: 14px;
  right: 35%;
  font-style: italic;
}
/* buttons*/
.mission-button {
  width: 30px;
}
/* buttons*/
